<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--    <bean id="userDao" class="com.ksh.dao.UserDao">-->
    <bean id="userDao" class="com.ksh.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userGradeUpgradePolicyAtNormal" class="com.ksh.policy.UserGradeUpgradePolicyAtNormal"/>
    <bean id="userGradeUpgradePolicyAtEvent" class="com.ksh.policy.UserGradeUpgradePolicyAtEvent"/>

    <bean id="userService" class="com.ksh.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
<!--        <property name="userGradeUpgradePolicy" ref="userGradeUpgradePolicyAtEvent"/>-->
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="SpringExample"/>
        <!--        <property name="username" value="springtestdb"/>-->
        <property name="password" value="eksxp123"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
<!--        <property name="host" value="mail.server.com"/>-->
<!--    </bean>-->
    <bean id="mailSender" class="com.ksh.mail.DummyMailSender"/>

</beans>